.slideshow
{
    margin : auto;
    width : 100%;
    border : 0.25px solid rgb(218, 217, 217);
}
.slide
{
    width : 100%;
}
.slide>img
{
    width : 100%;
    height : 95%;
}
.text
{
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}
.box1
{
    display : grid;
    grid-template-columns: repeat(6,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-top:15px;
    margin-bottom:30px;
}
.box1>div>img
{
    height: 100%;
    width : 100%;
}

.slideshow2
{
    margin : auto;
    width : 90%;
    border : 0.25px solid rgb(218, 217, 217);
}
.slide1
{
    width : 100%;

}
.slide1>img
{
    width : 100%;
    height : 100%;
}
.box2
{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-bottom:30px;
}
.box2>div
{
    height : 220px;
    border : 0.25px solid rgb(218, 217, 217);
}
.box2>div:hover
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border : 0.25px solid rgb(218, 217, 217);
}

.box2>div>img
{
   width : 100%;
   height : 100%;
}
.box4
{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-bottom:30px;
}
.box4>div
{
    height : 220px;
    border : 0.25px solid rgb(218, 217, 217);
}
.box4>div:hover
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border : 0.25px solid rgb(218, 217, 217);
}
.box4>div>img
{
   width : 100%;
   height : 100%;
}
.box5
{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-bottom:30px;
}
.box5>div
{
    height : 220px;
    border : 0.25px solid rgb(218, 217, 217);

}
.box5>div:hover
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border : 0.25px solid rgb(218, 217, 217);
}

.box5>div>img
{
   width : 100%;
   height : 100%;
}
.box6
{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-bottom:30px;
}
.box6a
{
    height : 100%;
    border : 0.25px solid rgb(218, 217, 217);
}
.box6b
{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    gap :4px;
    justify-content: space-evenly;
    height : 100%;
}
.box6b>div
{
    height : 100%;
    border : 0.25px solid rgb(218, 217, 217);
}

.box7
{
    display : grid;
    grid-template-columns: repeat(6,1fr);
    gap :4px;
    justify-content: space-evenly;
    width : 90%;
    margin-left: 62px;
    margin-bottom:30px;
}
.box7>div
{
    height : 150px;
    border : 0.25px solid rgb(218, 217, 217);
}
.box7>div:hover
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box7>div>img
{
   width : 100%;
   height : 100%;
}
.slideshow3
{
    margin : auto;
    width : 90%;
}
.slide1
{
    width : 100%;
    height :100%;
}
.slide1>img
{
    width : 100%;
    height : 100%;
}
.slideshow4
{
    margin : auto;
    width : 90%;
    border : 0.25px solid rgb(237, 236, 236);
}
.slide2
{
    width : 100%;
    height :100%;
}
.slide2>img
{
    width : 100%;
    height : 100%;
}
.details
{
    margin : auto;
    width : 90%;
    border : 0.25px solid rgb(237, 236, 236);
    padding :0px 10px 5px 10px;
}
.topic
{
    font-size: 30px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.details>.data
{
    color:rgb(94, 92, 92);
    line-height: 22px;
}
















